<h1>Companies#show</h1>
<p>Find me in app/views/companies/show.html.erb</p>
<%= @company.company_name %>

<%= @company.company_addr %>
<%= @company.company_phone_number %>
<%= @company.company_fax %>
<%= @company.company_work_time %>
<%= @company.company_break_time %>
<%= @company.company_overtime_work %>
<%= @company.company_closing_date %>


<%= @company.company_bill %>